<section class="reasons block">
	<div class="container">
		<h2 class="reasons__title title">Уверен, что она не имитирует оргазм <br>и ее удовлетворяет твой&nbsp;размер?</h2>
		<p class="reasons__subtitle subtitle">Пришло время изменить ситуацию, если:</p>
		<ul class="reasons__list">
			<li class="reasons__item">
				<div class="reasons__card">
					<span class="reasons__icon reasons__icon--triangle">1</span>
					<img src="img/reason-01.jpg" alt="" class="reasons__picture">
					<p class="reasons__description"><span class="gray">У тебя</span> был неудачный сексуальный опыт</p>
				</div>
			</li>
			<li class="reasons__item">
				<div class="reasons__card">
					<span class="reasons__icon reasons__icon--ruler">2</span>
					<img src="img/reason-02.jpg" alt="" class="reasons__picture">
					<p class="reasons__description"><span class="gray">Ты хочешь, чтобы</span> твой&nbsp;“друг”&nbsp;был больше</p>
				</div>
			</li>
			<li class="reasons__item">
				<div class="reasons__card">
					<span class="reasons__icon reasons__icon--shape">3</span>
					<img src="img/reason-03.jpg" alt="" class="reasons__picture">
					<p class="reasons__description"><span class="gray">Желаешь</span> удовлетворить <span class="gray">женщину и получить</span> яркие&nbsp;эмоции</p>
				</div>
			</li>
			<li class="reasons__item">
				<div class="reasons__card">
					<span class="reasons__icon reasons__icon--talk">4</span>
					<img src="img/reason-04.jpg" alt="" class="reasons__picture">
					<p class="reasons__description"><span class="gray">Хочешь</span>, чтобы она рассказывала о тебе <span class="gray">своим подружкам с восторгом</span></p>
				</div>
			</li>
		</ul>
		<p class="reasons__conclusion conclusion">
			<span class="reasons__decoration" aria-hidden="true"></span>
			<span class="red">Хватит</span> смотреть на картинки в интернете — <span class="red">действуй</span>!<br>Покажи, на что ты действительно способен!
		</p>
		<a href="#" class="reasons__btn btn ever-popup-btn">Заказать Dominator</a>
	</div>
</section>