<section class="most-dangerous block">
	<div class="before"></div>
	<div class="container">
		<h2 class="title most-dangerous__title">Существуют такие методы борьбы за&nbsp;мужественность</h2>
		<ul class="most-dangerous__list">
			<li class="most-dangerous__item most-dangerous__item_ltr">
				<div class="most-dangerous__wrap-pic">
					<div class="most-dangerous__pic">
						<img src="img/most-dangerous-1.jpg" alt="" class="most-dangerous__img">
					</div>
				</div>
				<div class="most-dangerous__desc">
					<p class="most-dangerous__desc-title">Вакуумная помпа—</p>
					<p class="most-dangerous__desc-text">
						увеличивает размер после использования. Процедура проводится перед каждым половым актом
					</p>
				</div>
			</li>
			<li class="most-dangerous__item most-dangerous__item_ltr">
				<div class="most-dangerous__wrap-pic">
					<div class="most-dangerous__pic">
						<img src="img/most-dangerous-2.jpg" alt="" class="most-dangerous__img">
					</div>
				</div>
				<div class="most-dangerous__desc">
					<p class="most-dangerous__desc-title">Филлеры—</p>
					<p class="most-dangerous__desc-text">
						инъекция гиалуроновой кислоты непосредственно в пенис. Эффект от&nbsp;процедуры держится около полугода
					</p>
				</div>
			</li>
			<li class="most-dangerous__item most-dangerous__item_rtl">
				<div class="most-dangerous__desc">
					<p class="most-dangerous__desc-title">Экстендер—</p>
					<p class="most-dangerous__desc-text">
						растягивает мягкие ткани полового органа. Использование прибора предусматривает аккуратное применение из-за механического воздействия
					</p>
				</div>
				<div class="most-dangerous__wrap-pic">
					<div class="most-dangerous__pic">
						<img src="img/most-dangerous-3.jpg" alt="" class="most-dangerous__img">
					</div>
				</div>
			</li>
			<li class="most-dangerous__item most-dangerous__item_rtl">
				<div class="most-dangerous__desc">
					<p class="most-dangerous__desc-title">Кремы — </p>
					<p class="most-dangerous__desc-text">
						безоперационный способ увеличения пениса. Принцип действия может быть направлен на краткосрочное увеличение (до 2-х часов) либо долгосрочное
					</p>
				</div>
				<div class="most-dangerous__wrap-pic">
					<div class="most-dangerous__pic">
						<img src="img/most-dangerous-4.jpg" alt="" class="most-dangerous__img">
					</div>
				</div>
			</li>
		</ul>
		<div class="most-dangerous__divider"></div>
	</div>
	<div class="most-dangerous__bottom">
		<div class="container">
			<div class="most-dangerous__bottom-wrap">
				<div class="most-dangerous__footnote">
					Сейчас набирает популярность крем <span class="most-dangerous__footnote-accent">Dominator</span>. Он долгосрочно увеличивает половой член и усиливает эрекцию без негативных последствий. Также он не вызывает зависимости.
				</div>
				<div class="most-dangerous__btn">
					<div class="btn ever-popup-btn">Заказать Dominator</div>
				</div>
			</div>
		</div>
	</div>
	<div class="after"></div>
</section>