<section class="most-dangerous block">
	<div class="before"></div>
	<div class="container">
		<h2 class="title most-dangerous__title">Большинство популярных способов <br> борьбы за мужественность <span class="most-dangerous__accent">имеют недостатки</span></h2>
		<ul class="most-dangerous__list">
			<li class="most-dangerous__item most-dangerous__item_ltr">
				<div class="most-dangerous__wrap-pic">
					<div class="most-dangerous__pic">
						<img src="img/most-dangerous-1.jpg" alt="" class="most-dangerous__img">
					</div>
				</div>
				<div class="most-dangerous__desc">
					<p class="most-dangerous__desc-title">Вакуумная помпа</p>
					<p class="most-dangerous__desc-text">
						лишь временно увеличивает размер, но может <span class="most-dangerous__desc-accent">ухудшить качество эрекции опыт</span>
					</p>
				</div>
			</li>
			<li class="most-dangerous__item most-dangerous__item_ltr">
				<div class="most-dangerous__wrap-pic">
					<div class="most-dangerous__pic">
						<img src="img/most-dangerous-2.jpg" alt="" class="most-dangerous__img">
					</div>
				</div>
				<div class="most-dangerous__desc">
					<p class="most-dangerous__desc-title">Филлеры</p>
					<p class="most-dangerous__desc-text">
						инъекция гиалуроновой кислоты. <span class="most-dangerous__desc-accent">Эффект
								от процедуры полностью исчезает через год опыт</span> 
					</p>
				</div>
			</li>
			<li class="most-dangerous__item most-dangerous__item_rtl">
				<div class="most-dangerous__desc">
					<p class="most-dangerous__desc-title">Экстендер</p>
					<p class="most-dangerous__desc-text">
						растягивает мягкие ткани полового органа. Ношение устройства часто <span class="most-dangerous__desc-accent">сопровождается болью опыт</span>
					</p>
				</div>
				<div class="most-dangerous__wrap-pic">
					<div class="most-dangerous__pic">
						<img src="img/most-dangerous-3.jpg" alt="" class="most-dangerous__img">
					</div>
				</div>
			</li>
			<li class="most-dangerous__item most-dangerous__item_rtl">
				<div class="most-dangerous__desc">
					<p class="most-dangerous__desc-title">Лигаментотомия</p>
					<p class="most-dangerous__desc-text">
						дорогостоящая операция. Возможны осложнения: <span class="most-dangerous__desc-accent">инфекции, шрамы, импотенция опыт</span> 
					</p>
				</div>
				<div class="most-dangerous__wrap-pic">
					<div class="most-dangerous__pic">
						<img src="img/most-dangerous-4.jpg" alt="" class="most-dangerous__img">
					</div>
				</div>
			</li>
		</ul>
		<div class="most-dangerous__divider"></div>
		<div class="most-dangerous__footnote">
			Крем <span class="most-dangerous__footnote-accent">Dominator</span> безопасно увеличивает половой член 
			и усиливает эрекцию <span class="most-dangerous__footnote-accent">на длительное время</span>
		</div>
		<div class="most-dangerous__btn">
			<div class="btn ever-popup-btn">Заказать Dominator</div>
		</div>
	</div>
	<div class="after"></div>
</section>