<section class="components block">
	<div class="container">
		<h2 class="title">Крем <span class="yellow">Dominator</span><br>содержит только <span class="nowrap">натуральные компоненты</span></h2>
		<div class="components__prod">
			<img src="./img/prod.png" alt="">
		</div>
		<div class="components__list">
			<div class="components__item components__item--1">
				<div class="components__img">
					<img src="./img/components__img-1.png" alt="">
				</div>
				<h3 class="components__name">Гиалуронат натрия</h3>
				<p class="components__desc">увлажняет кожу, способствует регенерации клеток кожи, <b>увеличивая половой член <span class="nowrap">в размере</span></b>, оказывает антиоксидантное действие.</p>
			</div>
			<div class="components__item components__item--2">
				<div class="components__img">
					<img src="./img/components__img-2.png" alt="">
				</div>
				<h3 class="components__name">Масло ши</h3>
				<p class="components__desc"><b>увеличивает локальное кровообращение в области полового члена</b>, что также увеличивает его в размере <span class="nowrap">и ускоряет</span> обменные процессы <span class="nowrap">в тканях.</span></p>
			</div>
			<div class="components__item components__item--3">
				<div class="components__img">
					<img src="./img/components__img-3.png" alt="">
				</div>
				<h3 class="components__name">Токоферил ацетат</h3>
				<p class="components__desc">оказывает антиоксидантное действие, <b>участвует в процессах тканевого метаболизма</b>, улучшает кровообращение.</p>
			</div>
		</div>
	</div>
</section>