<section class="actor block">
	<div class="before"></div>
	<div class="container">
		<h2 class="title">
			<span class="actor__who">Ксандер, порноактер:</span>
			Когда нужно всегда быть <br><span class="red">в боевой готовности</span>
		</h2>
		<div class="actor__img">
			<img src="./img/actor__man.png" alt="">
		</div>
		<div class="actor__text">
			<p class="actor__quote">Работать порноактером не так просто, как может показаться на первый взгляд. </p>
			<p class="actor__par">Иногда <b>съемки длились по 4-5 часов</b> с партнершей, которая мне абсолютно не привлекательна. Тогда <b>“рабочий инструмент” раскачивался очень долго.</b> Да, мне всего 30 лет, но это простая физиология, я ничего не мог с собой поделать. </p>
			<p class="actor__par">Большинство актеров <b>употребляют таблетки для эрекции или что-то вкалывают в пенис.</b> Я против всего этого, так как мне дорого мое здоровье. Тем более, что <b>эти препараты дают эффект на 30 минут, максимум час.</b> То есть за съемочный день, процедуру нужно повторять несколько раз. Плюс ты <span class="nowrap">не всегда</span> знаешь, когда твой выход на площадку, но должен всегда быть готов.</p>
			<p class="actor__par">Находкой для меня стал крем Dominator. Я втирал его ежедневно в течение месяца, а после курса продолжаю применение только в день съемок. Проблем с боевой готовностью у меня больше нет и, что не менее приятно, <span class="nowrap">мой пенис</span> стал длиннее на несколько сантиметров. </p>
		</div>
	</div>
	<div class="after"></div>
</section>