<section class="reviews block">
	<div class="container">
		<h2 class="title">Отзывы покупателей <br>о <span class="yellow">Dominator</span></h2>
		<div class="reviews__list">
			<div class="reviews__item">
				<div class="reviews__box">
					<div class="reviews__head">
						<div class="reviews__img">
							<img src="./img/reviews__img-1.jpg" alt="">
						</div>
						<div class="reviews__header-text">
							<h3 class="reviews__name">Игнат, 31 лет, г. Семаранг</h3>
							<p class="reviews__quote">Результат без операции и инъекции</p>
						</div>
					</div>
					<p class="reviews__text">Что я только не делал, чтобы увеличить член, но результат я увидел только с этим кремом. А главное без операций, инъекций и изнуряющих упражнений. Жалею, что раньше не узнал об этом средстве, половину молодости потерял:(( </p>
				</div>
			</div>
			<div class="reviews__item">
				<div class="reviews__box">
					<div class="reviews__head">
						<div class="reviews__img">
							<img src="./img/reviews__img-1.jpg" alt="">
						</div>
						<div class="reviews__header-text">
							<h3 class="reviews__name">Андрей, 19 лет, г. Батам</h3>
							<p class="reviews__quote">Передумал брать кредит на операцию</p>
						</div>
					</div>
					<p class="reviews__text">У меня результат +5 сантиметров! А я уже думал брать кредит и ехать в Таиланд делать операцию, хорошо, что до этого не дошло. </p>
				</div>
			</div>
			<div class="reviews__item">
				<div class="reviews__box">
					<div class="reviews__head">
						<div class="reviews__img">
							<img src="./img/reviews__img-1.jpg" alt="">
						</div>
						<div class="reviews__header-text">
							<h3 class="reviews__name">Игнат, 31 лет, г. Семаранг</h3>
							<p class="reviews__quote">Результат без операции и инъекции</p>
						</div>
					</div>
					<p class="reviews__text">Что я только не делал, чтобы увеличить член, но результат я увидел только с этим кремом. А главное без операций, инъекций и изнуряющих упражнений. Жалею, что раньше не узнал об этом средстве, половину молодости потерял:(( </p>
				</div>
			</div>
			<div class="reviews__item">
				<div class="reviews__box">
					<div class="reviews__head">
						<div class="reviews__img">
							<img src="./img/reviews__img-1.jpg" alt="">
						</div>
						<div class="reviews__header-text">
							<h3 class="reviews__name">Рома, 32 года, г. Джакарта</h3>
							<p class="reviews__quote">Готов к новым подвигам!</p>
						</div>
					</div>
					<p class="reviews__text">Раньше не задумывался об увеличении полового органа, так как мою девушку вроде бы все устраивало. Но после того как мы расстались, оказалось что у меня маленький и со мной она никогда не получала удовольствия. Носил два месяца экстендер, но постоянно мучился от ужасного дискомфорта. Друг посоветовал Доминатор. Втирал его около месяца и увидел заметное увеличение размера. Теперь я точно готов к новым подвигам! </p>
				</div>
			</div>
		</div>
		
	</div>
</section>