<section class="reviews block">
	<div class="container">
		<h2 class="title">Отзывы покупателей <br>о <span class="yellow">Dominator</span></h2>
		<div class="reviews__list">
			<div class="reviews__item">
				<div class="reviews__box">
					<div class="reviews__head">
						<div class="reviews__img">
							<img src="./img/reviews__img-1.jpg" alt="">
						</div>
						<div class="reviews__head-text">
							<h3 class="reviews__name">Рома, 32 года, г. Джакарта</h3>
							<p class="reviews__quote">Готов к новым подвигам!</p>
						</div>
					</div>
					<p class="reviews__text">Раньше не задумывался об увеличении полового органа, так как мою девушку вроде бы все устраивало. <span class="reviews__text--hide">Но после того как мы расстались, оказалось что у меня маленький и со мной она никогда не получала удовольствия. Носил два месяца экстендер, но постоянно мучился от ужасного дискомфорта. Друг посоветовал Доминатор. Втирал его около месяца и увидел заметное увеличение размера. Теперь я точно готов к новым подвигам!</span></p>
				</div>
			</div>
			<div class="reviews__item">
				<div class="reviews__box">
					<div class="reviews__head">
						<div class="reviews__img">
							<img src="./img/reviews__img-2.jpg" alt="">
						</div>
						<div class="reviews__head-text">
							<h3 class="reviews__name">Игнат, 31 лет, г. Семаранг</h3>
							<p class="reviews__quote">Результат без операции и инъекции</p>
						</div>
					</div>
					<p class="reviews__text">Что я только не делал, чтобы увеличить член, <span class="nowrap">но результат</span> я увидел только с этим кремом. <span class="reviews__text--hide">А главное без операций, инъекций и изнуряющих упражнений. Жалею, что раньше не узнал об этом средстве, половину молодости потерял:((</span> </p>
				</div>
			</div>
			<div class="reviews__item">
				<div class="reviews__box">
					<div class="reviews__head">
						<div class="reviews__img">
							<img src="./img/reviews__img-3.jpg" alt="">
						</div>
						<div class="reviews__head-text">
							<h3 class="reviews__name">Андрей, 19 лет, г. Батам</h3>
							<p class="reviews__quote">Передумал брать кредит на операцию</p>
						</div>
					</div>
					<p class="reviews__text">У меня результат +5 сантиметров! <span class="nowrap">А я уже думал</span> брать кредит и ехать в Таиланд делать операцию<span class="reviews__text--hide">, хорошо, что до этого не дошло.</span></p>
				</div>
			</div>
			<div class="reviews__item">
				<div class="reviews__box">
					<div class="reviews__head">
						<div class="reviews__img">
							<img src="./img/reviews__img-4.jpg" alt="">
						</div>
						<div class="reviews__head-text">
							<h3 class="reviews__name">Марина, 33 года, г. Тангеранг</h3>
							<p class="reviews__quote">Мы с мужем были на грани развода</p>
						</div>
					</div>
					<p class="reviews__text">Мужчины, вы ошибаетесь, если считаете, что размер полового члена не важен. Мы с мужем были на грани развода<span class="reviews__text--hide">, но нас сплотила идея обновить интимные отношения. Благодаря крему Доминатор мы перешли на новый уровень, заново узнали радости интимной жизни и раскрепостились по-новому.</span></p>
				</div>
			</div>
			<div class="reviews__item">
				<div class="reviews__box">
					<div class="reviews__head">
						<div class="reviews__img">
							<img src="./img/reviews__img-5.jpg" alt="">
						</div>
						<div class="reviews__head-text">
							<h3 class="reviews__name">Антон, 21 год, г. Пеканбару</h3>
							<p class="reviews__quote">Больше никто не скажет, что мой размер маловат</p>
						</div>
					</div>
					<p class="reviews__text">Однажды девушка после секса сказала, что мой размер маловат. Обиднее всего, что я об этом узнал от общих друзей<span class="reviews__text--hide">, которым рассказали ее подружки. Мое достоинство было растоптано. В тот момент я решил, что увеличу член чего бы мне это не стоило. Начал подумывать об операции, но чудом наткнулся на форум, где писали о позитивном действии этого крема. Мало верил в результат, но он таки есть, хоть и было сложно приучить себя к ежедневным процедурам.</span></p>
				</div>
			</div>
			<div class="reviews__item">
				<div class="reviews__box">
					<div class="reviews__head">
						<div class="reviews__img">
							<img src="./img/reviews__img-6.jpg" alt="">
						</div>
						<div class="reviews__head-text">
							<h3 class="reviews__name">Федор, 27 лет, г. Суракарта</h3>
							<p class="reviews__quote">Удивил жену на все 100%</p>
						</div>
					</div>
					<p class="reviews__text">Я уже был серьезно настроен на операцию, меня не пугало даже то, что насладиться результатом я смогу только через 3 месяца.<span class="reviews__text--hide"> Но потом прочитал в интернете историю одного мужчины, которому врач повредил артерию и он на всю жизнь остался импотентом… Так рисковать я не был готов, поэтому решил попробовать этот крем. Его рекламу я увидел в сети. После курса мне удалось на все 100 удивить свою жену.</span></p>
				</div>
			</div>
			<div class="reviews__item">
				<div class="reviews__box">
					<div class="reviews__head">
						<div class="reviews__img">
							<img src="./img/reviews__img-7.jpg" alt="">
						</div>
						<div class="reviews__head-text">
							<h3 class="reviews__name">Аркадий, 29 лет, г. Мадиун</h3>
							<p class="reviews__quote">Больше никакой депрессии!</p>
						</div>
					</div>
					<p class="reviews__text">“Ты уже вошел?”, — этот вопрос от девушки, в которую я был влюблен по уши, стал причиной моей длительной депрессии <span class="reviews__text--hide">и неуверенности в себе. После него у меня не было интимной близости около года. В один момент я решил, что хватит так жить. Радикальные методы я оставил на крайний случай, а начал с крема Доминатор, о котором узнал от своего знакомого. Сейчас я стал увереннее в себе и моя новая девушка считает мой размер идеальным.</span></p>
				</div>
			</div>
			<div class="reviews__item">
				<div class="reviews__box">
					<div class="reviews__head">
						<div class="reviews__img">
							<img src="./img/reviews__img-8.jpg" alt="">
						</div>
						<div class="reviews__head-text">
							<h3 class="reviews__name">Виктор, 35 лет, г. Джакарта</h3>
							<p class="reviews__quote">Помог восстановить эрекцию</p>
						</div>
					</div>
					<p class="reviews__text">Я очень комплексую по поводу размеров своего пениса плюс у меня проблемы с эрекцией. <span class="reviews__text--hide">Одно время пробовал помпу, но оказалось, что она абсолютно неэффективна в восстановлении эрекции, плюс слышал от товарища, что от нее возможен тромбоз вен и потеря чувствительности. По отзывам нашел Доминатор и спустя два месяца использования могу сказать, что очень им доволен. Как и моя жена))</span></p>
				</div>
			</div>
			<div class="reviews__item">
				<div class="reviews__box">
					<div class="reviews__head">
						<div class="reviews__img">
							<img src="./img/reviews__img-9.jpg" alt="">
						</div>
						<div class="reviews__head-text">
							<h3 class="reviews__name">Сергей, 36 лет, г. Сингараджа</h3>
							<p class="reviews__quote">Лучше, чем инъекции</p>
						</div>
					</div>
					<p class="reviews__text">Делал инъекцию, но постепенно все рассосалось. Временный результат меня не устраивал<span class="reviews__text--hide">, а постоянно делать инъекции, мне кажется, вредно для здоровья. Попробовал этот крем и после курса размер пениса увеличился. Даже спустя полгода результат держится, но я продолжаю его периодически использовать.</span> </p>
				</div>
			</div>
			<div class="reviews__item">
				<div class="reviews__box">
					<div class="reviews__head">
						<div class="reviews__img">
							<img src="./img/reviews__img-10.jpg" alt="">
						</div>
						<div class="reviews__head-text">
							<h3 class="reviews__name">Евгений, 33 года, г. Таракан</h3>
							<p class="reviews__quote">Крем способствует усилению эрекции</p>
						</div>
					</div>
					<p class="reviews__text">Пользовался кремом Dominator для усиления эрекции. Потом узнал, что это средство помогает еще и член удлинить<span class="reviews__text--hide">, как минимум во время полового акта — кровь активно приливает к пенису, он аж пульсирует.</span></p>
				</div>
			</div>
		</div>
		<div class="reviews__count">
			<span class="reviews__count-cur"></span>
			<span class="reviews__count-slash">/</span>
			<span class="reviews__count-total"></span>
		</div>
		<p class="reviews__footnote"><i>Результаты использования зависят от индивидуальных особенностей</i></p>
		<button class="btn">Заказать Dominator</button>
	</div>
</section>