<section class="order block" id="order">
	<div class="container">
		<h2 class="order__title title">Как заказать анонимную доставку <br><span class="yellow">Dominator</span></h2>
		<ul class="order__list">
			<li class="order__item">
				<div class="order__card order__card--check">
					<img src="img/order-01.png" alt="" class="order__picture">
					<h3 class="order__caption">Заполните форму заказа</h3>
					<p class="order__description">Укажите только свое имя и номер <br>телефона</p>
				</div>
			</li>
			<li class="order__separator order__separator--left" aria-hidden="true"></li>
			<li class="order__item order__item--top">
				<div class="order__card order__card--check">
					<img src="img/order-02.png" alt="" class="order__picture">
					<h3 class="order__caption">Ответьте на звонок оператора</h3>
					<p class="order__description">Он уточнит ваши адресные данные <br>и ответит на все вопросы <br>о Dominator</p>
				</div>
			</li>
			<li class="order__separator order__separator--right" aria-hidden="true"></li>
			<li class="order__item">
				<div class="order__card order__card--check">
					<img src="img/order-03.png" alt="" class="order__picture">
					<h3 class="order__caption">Оплатите после получения</h3>
					<p class="order__description">Никаких предоплат! <br>Никто не узнает о вашем заказе!</p>
				</div>
			</li>
		</ul>
	</div>
</section>