<section class="header header_bottom block">
	<!-- <div class="before"></div> -->
	<div class="container">
		<div class="header__img">
			<img class="header__woman" src="./img/header__woman.png" alt="">
		</div>
		
		<div class="header__content">
			<div class="header__about">
				<h1 class="header__title">
					Крем 2 в 1:
					<span class="header__title-small">твердая эрекция <br>и +5 см к длине пениса</span>
				</h1>
				<ul class="header__list">
					<li class="header__item">
						<b>Повышение</b>
						качества интимной жизни
					</li>
					<li class="header__item">
						<b>Уверенность</b>
						в себе и удовольствие <br>для двоих
					</li>
					<li class="header__item">
						<b>Полностью</b>
						анонимная доставка
					</li>
				</ul>
			</div>
			<div class="header__prod header__prod--bottom">
				<img src="./img/prod.png" alt="">
			</div>
			<div class="form">
				<h2 class="form__title">Закажите сейчас <span class="red">по Акции</span></h2>
				<div class="price">
					<div class="price__box price__box--old">
						<p class="price__text">Старая цена</p>
						<span class="price__value">
							<span class="price__number x_price_previous">1980</span>
							<span class="price__currency x_price_currency">руб</span>
						</span>
					</div>
					<div class="price__box price__box--new">
						<p class="price__text">Ваша цена</p>
						<span class="price__value">
							<span class="price__number x_price_current">990</span>
							<span class="price__currency x_price_currency">руб</span>
						</span>
					</div>
				</div>
				<p class="form__lastpack">Осталось упаковок <span class="nowrap">со скидкой:</span> <span class="red lastpack">15</span></p>
				<form action="/submit" method="post" class="x_order_form">
					<label class="form__label form__label--name">
						<input type="text" name="name" placeholder="Моё имя" required autocomplete="name">
					</label>
					<label class="form__label form__label--tel">
						<input type="tel" name="phone" placeholder="Мой телефон" required autocomplete="tel">
					</label>
					<button class="btn">Заказать</button>
					<!-- <p class="price__footnote">* при заказе курса</p> -->
				</form>
				<!-- <p class="form__pay-after">Оплата после получения</p> -->
			</div>
		</div>
	</div>
	<!-- <div class="after"></div> -->
	<div class="header__before"></div>
	<div class="header__after"></div>
</section>