	<div class="ever-popup-build">
		<div class="my-popup" id="cloneThis">
			<div class="popup">
				<div class="popup__img">
					<img src="./img/prod.png" alt="">
				</div>
				<div class="form">
					<h2 class="form__title">Закажите сейчас <span class="red">по Акции</span></h2>
					<div class="price">
						<div class="price__box price__box--old">
							<p class="price__text">Старая цена</p>
							<span class="price__value">
								<span class="price__number x_price_previous">1980</span>
								<span class="price__currency x_price_currency">руб</span>
							</span>
						</div>
						<div class="price__box price__box--new">
							<p class="price__text">Ваша цена</p>
							<span class="price__value">
								<span class="price__number x_price_current">990</span>
								<span class="price__currency x_price_currency">руб</span>
							</span>
						</div>
					</div>
					<p class="form__lastpack">Осталось упаковок <span class="nowrap">со скидкой:</span> <span class="red lastpack">15</span></p>
					<form action="/submit" method="post" class="x_order_form">
						<label class="form__label form__label--name">
							<input type="text" name="name" placeholder="Моё имя" required="" autocomplete="name">
						</label>
						<label class="form__label form__label--tel">
							<input type="tel" name="phone" placeholder="Мой телефон" required="" autocomplete="tel">
						</label>
						<button class="btn">Заказать</button>
						<!-- <p class="price__footnote">* при заказе курса</p> -->
					</form>
					<!-- <p class="form__pay-after">Оплата после получения</p> -->
				</div>
			</div>
		</div>
	</div>