.header {
	min-height: 700px;
	// background-image: url(../img/header__bg.jpg);
	background-repeat: no-repeat;
	background-position: 50% 0;
	// margin-bottom: 40px;
	margin-bottom: 300px;
	position: relative;
	z-index: 0;
	&__bg {
		width: 3000px;
		height: 107.3%;
		position: absolute;
		left: calc(50% + 152px);
		top: -40px;
		z-index: -2;
		transform: translateX(-50%) rotate(-1.5deg);
		overflow: hidden;
		&::before {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			background-image:url(../img/bg-sign.png), url(../img/header__bg.jpg);
			background-repeat: no-repeat;
			background-position: calc(50% - 110px) 0, calc(50% - 142px) -26px;
			left: 0;
			bottom: -40px;
			transform: rotate(1.5deg);
		}
	}
	&__top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 39px;
	}
	.logo {
	  display: flex;
	  align-items: flex-start;
	  padding-left: 72px;
	  position: relative;
	  [class*='st'] {
				fill: #999999;
			}
	}
	.logo__sign {
	  	width: 67px;
		height: 87px;
		position: absolute;
		left: -2px;
		top: -15px;
	  svg {
	  	max-width: 100%;
	  	max-height: 100%;
	  }
	}
	.logo__text {
		font-size: 14px;
		line-height: 1.3;
		color: #999;
	}
	.logo__name {
	  max-width: 114px;
	  margin-top: 20px;
	  height: 26px;
	  svg {
	  	max-width: 100%;
	  	max-height: 100%;
	  }
	}
	.nav {
		max-width: 282px;
		width: 100%;
		[class*='st'] {
				fill: #e7bc85;
			}
	}
	.nav__list {
		display: flex;
		justify-content: space-between;
		padding-top: 21px;
		align-items: flex-start;
	}
	.nav__item {
		color: rgba(249, 249, 250, 0.6);
		font-weight: 400;
		font-size: 15px;
		line-height: 1.1;
		max-width: 82px;
		position: relative;
		padding-top: 30px;
		cursor: pointer;
		&:hover {
			color: rgba(249, 249, 250, 0.8);
			a {
				background: none;
				
			}
			[class*='st'] {
				fill: #ef694b;
			}
		}
		a {
			// border-bottom: 1px dotted rgba(249, 249, 250, 0.6);
			background: repeating-linear-gradient(to right, #7b7b7b 0px, #7b7b7b 1px, rgba(0,0,0,0) 1px, rgba(0,0,0,0) 2px);
		    background-repeat: repeat-x;
		    background-position: 0 94%;
		    background-size: 2px 1px;
		}
	}
	.nav__icon {
		width: 23px;
		height: 22px;
		position: absolute;
		top: 0;
		cursor: pointer;
		&--2 {
			width: 20px;
			height: 24px;
		}
		&--3 {
			width: 20px;
			height: 26px;
		}
	}
	&__content {
		display: flex;
		justify-content: space-between;
	}
	&__title {
		font-size: 65px;
		line-height: 1.2;
		font-weight: 900;
		color: $text-yellow;
		margin-bottom: 37px;
		&-small {
			display: block;
			font-size: 30px;
			font-weight: 700;
			color: #fff;
			line-height: 32px;
			letter-spacing: 1.5px;
			margin-top: 3px;
		}
	}
	&__item {
		padding-left: 56px;
		position: relative;
		font-weight: 400;
		font-size: 20px;
		line-height: 26px;
		color: #fff;
		line-height: 1;
		&::before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 50%;
			width: 31px;
			height: 32px;
			transform: translateY(-50%);
			background-image: url(../img/up-icon.svg);
			background-repeat: no-repeat;
			background-position: 50%;
			background-size: contain;
		}
		&:nth-of-type(2) {
			margin-top: 30px;
		}
		&:nth-of-type(3) {
			margin-top: 30px;
		}
		b {
			font-size: 26px;
			font-weight: 700;
			color: $text-yellow;
			display: block;
			line-height: 1;
			margin-bottom: 5px;
		}
	}
	.form {
		margin-top: 38px;
		&::after {
			display: none;
		}
	}
	.price {
		position: relative;
		margin-bottom: 28px;
		&::after {
			content: '';
			display: block;
			position: absolute;
			background-image: url(../img/form-line.svg);
			background-position: 50%;
			width: 230px;
			height: 20px;
			background-repeat: no-repeat;
			bottom: -23px;
			left: -7px;
		}
	}
	&__prod {
		position: relative;
	    top: 173px;
    	left: 19px;
    	width: 300px;
    	align-self: flex-start;
    	img {
    		width: 100%;
    		height: auto;
    	}
	}
	&__woman {
		height: auto;
		width: 899px;
		position: absolute;
		left: calc(50% + 23px);
		transform: translateX(-50%);
		z-index: -1;
	}
	
}



@media screen and (max-width: 1190px){
  .header {
  	&.block {
  		padding-top: 0;
  	}
  	&__bg {
  		height: 96%;
  	}
  	&__top {
  		margin-bottom: 30px;
  	}
  	.nav {
  		max-width: 265px;
  	}
  	&__title {
  		font-size: 60px;
  		margin-bottom: 26px;
  		&-small {
  			letter-spacing: 0;
  			font-size: 28px;
  			margin-top: 0;
  		}
  	}
  	&__item {
  		font-size: 19px;
  		padding-left: 40px;
  		&::before {
			width: 28px;
			height: 28px;
  		}
  		b {
  			font-size: 24px;
  			margin-bottom: 0;
  		}
  		&:nth-of-type(n+2) {
			margin-top: 18px;
  		}
  	}
  	&__prod {
		width: 250px;
		top: 150px;
  	}
	&__woman {
		top: 0;
		width: 800px;
	}
  }
}
@media screen and (max-width: 1023px){
	.header {
		background-image: url(../img/header__bg.jpg);
		background-size: cover;
		background-position: 0 0;
		min-height: auto;
		&__bg {
			display: none;
		}
		&__top {
			margin-bottom: 0;
		}
		&__content {
			flex-wrap: wrap;
			position: relative;
			align-items: center;
		}
		&__title {
			font-size: 56px;
			line-height: 1;
			margin-bottom: 34px;
			&-small {
				font-size: 24px;
				line-height: 1.1;
			}
		}
		&__item {
			font-size: 17px;
			&:nth-of-type(n + 2) {
				margin-top: 15px;
			}
			b {
				font-size: 21px;
			}
		}
		&__prod {
			position: absolute;
			max-width: 180px;
			left: 50%;
			top: auto;
			bottom: 0;
			transform: translateX(-50%);
		}
		&__woman {
			display: none;
		}
	}
}
@media screen and (max-width: 767px){
	.header {
		&__top {
			flex-wrap: wrap;
			justify-content: space-around;
			margin-bottom: 15px;
		}
		.logo {
			display: none;
		}
		.nav__icon {
			left: 50%;
			transform: translateX(-50%);
		}
		&__content {
			justify-content: space-around;
		}
		&__title {
			font-size: 50px;
			text-align: center;
			&-small {
				font-size: 20px;
			}
			br {
				display: none;
			}
		}
		&__item {
			margin-left: 50px;
			padding-left: 34px;
			&::before {
				width: 24px;
				height: 24px;
			}
			br {
				display: none;
			}
		}
	}
}
@media screen and (max-width: 479px){

}

