.reasons {
  padding-top: 17px;
  padding-bottom: 70px;

  &.block {
    @media screen and (max-width: 1190px) {
        padding-top: 0;
    }
  }

  &__title {
    margin-bottom: 18px;
    font-weight: 900;

    & br {
      display: none;

      @media (min-width: 768px) {
        display: initial;
      }
    }

    @media (min-width: 1920px) {
      padding-left: 18px;
    }
  }

  &__subtitle {
    margin-bottom: 22px;
    font-weight: 500;

    @media (min-width: 1920px) {
      margin-left: -5px;
      font-size: 26px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    
    @media (min-width: 1920px) {
      padding-left: 1px;
    }

    @media (min-width: 1190px) {
      margin-bottom: 40px;
    }

    @media (max-width: 1023px) {
      flex-wrap: wrap;
      max-width: 570px;
      margin: 0 auto;
    }

    @media (max-width: 767px) {
      justify-content: center;
    }
  }

  &__item {
    &:nth-child(2n) {
      margin-top: 50px;

      @media (max-width: 1023px) {
        margin-top: 0;
      }
    }
  }

  &__card {
    position: relative;
    max-width: 270px;
    margin: 0 auto;
    padding-top: 25px;

    @media (min-width: 1023px) and (max-width: 1190px) {
      max-width: 230px;
    }

    @media (max-width: 1190px) {
      margin-bottom: 15px;
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 50%;
    left: calc(50% + 3px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    transform: translateX(-50%);

    &--triangle {
      width: 49px;
      height: 44px;
      padding-top: 5px;
      background-image: url("../img/reason-icon-triangle.svg");
    }

    &--ruler {
      width: 46px;
      height: 46px;
      padding-top: 5px;
      background-image: url("../img/reason-icon-ruler.svg");
    }

    &--shape {
      width: 51px;
      height: 51px;
      background-image: url("../img/reason-icon-shape.svg");
    }

    &--talk {
      top: 4px;
      width: 49px;
      height: 42px;
      background-image: url("../img/reason-icon-talk.svg");
    }
  }

  &__picture {
    display: block;
    width: 100%;
    margin-bottom: 12px;
    background-color: #c8cacb;

    @media (min-width: 1190px) {
      margin-bottom: 20px;
    }
  }

  &__description {
    position: relative;
    padding-top: 10px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;

    @media (min-width: 1190px) {
      padding-top: 16px;
      font-size: 18px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 29px;
      height: 4px;
      background-color: #e7bc85;
      transform: translateX(-50%);
    }

    & .gray {
      font-weight: 400;
    }
  }

  &__conclusion {
    position: relative;
    margin-bottom: 29px;
    padding-top: 47px;
    overflow: hidden;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: calc(50% - 17px);
      height: 0;
      border-top: 1px solid #c1c1c1;

      @media (min-width: 2560px) {
        border-top-width: 2px;
      }
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  &__decoration {
    position: absolute;
    top: -12px;
    left: 50%;
    width: 25px;
    height: 25px;
    border-left: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
    background-color: transparent;
    transform: translateX(-50%) rotate(-45deg);
  }

  &__btn {
    max-width: 280px;
  }
}