.most-dangerous {
    position: relative;
    z-index: 0;
    padding: 126px 0 0;
    background: url('../img/header__bg-half.jpg') 54% 0 no-repeat;
    background-position: center;
    background-size: cover;

    .before {
        width: 110%;
        height: 100px;
        position: absolute;
        top: -40px;
        transform: rotate(-0.6deg);
        left: -5px;
        overflow: hidden;
        z-index: 2;

        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100px;
            background-image: url(../img/pattern.png);
            background-position: 0 0;
            top: -38px;
            -webkit-transform: rotate(-1deg);
            -ms-transform: rotate(-1deg);
            transform: rotate(-1deg);
            left: 0;
        }
    }

    .after {
        width: 105%;
        height: 100px;
        position: absolute;
        bottom: -81px;
        transform: rotate(-1.1deg);
        left: 0;
        overflow: hidden;

        &::before {
            height: 150%;
            width: 150%;
            top: -50px;
            left: 0;
            content: '';
            display: block;
            position: absolute;
            background-image: url(../img/pattern.png);
            background-position: 0 -7px;
            -webkit-transform: rotate(1.1deg);
            -ms-transform: rotate(1.1deg);
            transform: rotate(1.1deg);
        }
    }
}

.most-dangerous__title {
    color: #fff;
}

.most-dangerous__accent {
    color: $text-red;
}

.most-dangerous__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 89px 0 130px;
    counter-reset: most-dangerous;
}

.most-dangerous__item {
    display: flex;
    align-items: flex-start;
    width: 49%;

    &:nth-child(n+3) {
        margin-top: 48px;
    }
}

.most-dangerous__item_ltr {
    padding-top: 2px;
    padding-left: 2px;

    &:nth-of-type(2n) {
        padding-left: 4px;
    }

    .most-dangerous__desc {
        padding-left: 40px;
    }
}

.most-dangerous__item_rtl {
    padding-right: 1px;
    &:nth-of-type(2n) {
        padding-right: 0;
    }

    .most-dangerous__desc {
        padding-right: 50px;
        text-align: right;
    }

    .most-dangerous__pic {

        &::after {
            left: auto;
            right: 100%;
            border: 14px solid transparent;
            border-right: 14px solid #fff;
            border-left: 0
        }
    }
}

.most-dangerous__wrap-pic {
    position: relative;

    &::before {
        position: absolute;
        top: -49px;
        left: 50%;
        left: calc(50% + 7px);
        transform: translateX(-50%);
        content: counter(most-dangerous);
        counter-increment: most-dangerous;
        font-size: 120px;
        line-height: 90px;
        font-weight: 900;
        color: #fff;
        opacity: .1;
    }
}

.most-dangerous__pic {
    position: relative;
    width: 270px;
    flex-shrink: 0;

    &::before {
        position: absolute;
        content: '';
        top: -4px;
        display: block;
        width: 100%;
        height: 4px;
        background-color: $text-red;
    }

    &::after {
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
        content: '';
        display: block;
        border: 14px solid transparent;
        border-left: 14px solid #fff;
        border-right: 0;
    }
}

.most-dangerous__img {
    display: block;
    max-width: 100%;
    margin-top: 4px;
}

.most-dangerous__desc {
    align-self: center;
    // padding-top: 46px;
}

.most-dangerous__desc-title {
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    color: #e5cfb4;
}

.most-dangerous__desc-text {
    font-size: 20px;
    line-height: 24px;
    color: #bbb;
}

.most-dangerous__desc-accent {
    color: #fff;
    font-weight: 500;
}

.most-dangerous__bottom {
    padding: 70px 0 95px;
    background-color: #333;
    transform: skewY(-1deg);

    .container {
        transform: skewY(1deg);
    }
}

.most-dangerous__bottom-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.most-dangerous__footnote {
    max-width: 805px;
    text-align: left;
    font-size: 26px;
    line-height: 30px;
    font-weight: 700;
    color: #dfe4ea;

    @media (max-width: 767px) {
        text-align: center;
    }

}

.most-dangerous__btn {
    flex-shrink: 0;
    flex-grow: 1;
    max-width: 310px;
    text-align: center;
    margin-top: 5px;

    @media (max-width: 767px) {
        margin: 0 auto;
    }

    @media (min-width: 768px) {
        margin-left: 50px;
    }

    .btn {
        max-width: 100%;
        cursor: pointer;
    }
}

.most-dangerous__footnote-accent {
    color: #e7bc85;
}

@media screen and (max-width: 1190px){

    .most-dangerous {
        &.block {
            padding: 60px 0 17px;
        }
    }

    .most-dangerous__list {
        margin: 89px 0 80px;
    }

    .most-dangerous__item_ltr {

        .most-dangerous__desc {
            padding-left: 30px;
        }
    }

    .most-dangerous__item_rtl {

        .most-dangerous__desc {
            padding-right: 30px;
        }
    }
  
    .most-dangerous__pic {
        width: 230px;
    }

    .most-dangerous__desc-title {
        margin-bottom: 10px;
        font-size: 22px;
        line-height: 22px;
    }

    .most-dangerous__desc-text {
        font-size: 18px;
        line-height: 22px;
    }

    .most-dangerous__footnote {
        font-size: 27px;
        line-height: 27px;
    }

    .most-dangerous__bottom {
        padding: 60px 0 60px;
    }

}

@media screen and (max-width: 1023px){

    .most-dangerous {

        &.block {
            padding: 40px 0 0;
        }

        .before {
            display: none;
        }

        .after {
            display: none;
        }
    }

    .most-dangerous__list {
        margin: 55px 0 30px;
    }

    .most-dangerous__item {
        flex-direction: column;
        align-items: center;

        &:nth-child(n+3) {
            margin-top: 60px;
        }
    }

    .most-dangerous__item_ltr {

        .most-dangerous__desc {
            padding-left: 0;
        }
    }

    .most-dangerous__item_rtl {

        .most-dangerous__wrap-pic {
            order: 1;
        }

        .most-dangerous__pic {

            &::after {
                left: 50%;
                transform: rotate(270deg) translateX(50%) translateY(-25%);
            }
        }

        .most-dangerous__desc {
            padding-right: 0;
            order: 2;
            text-align: center;
        }
    }

    .most-dangerous__desc {
        text-align: center;
    }

    .most-dangerous__desc-title {
        margin-bottom: 5px;
    }

    .most-dangerous__wrap-pic {
        margin-bottom: 20px;
    }

    .most-dangerous__pic {

        &::after {
            display: none;
            top: 100%;
            left: 50%;
            transform: translateX(-25%) translateY(-25%) rotate(90deg);
        }
    }

    .most-dangerous__footnote {
        font-size: 22px;
        line-height: 24px;
        margin: 0 auto;
    }

    .most-dangerous__bottom {
        padding: 30px 0 30px;
        transform: skewY(0);
        
        .container {
            transform: skewY(0);
        }
    }
}

@media screen and (max-width: 767px){

    .most-dangerous {

        &.block {
            padding: 25px 0 0;
        }
    }

    .most-dangerous__list {
        margin: 55px 0 20px;
    }

    .most-dangerous__pic {
        width: 200px;
    }

    .most-dangerous__desc-title {
        font-size: 20px;
        line-height: 20px;
    }

    .most-dangerous__desc-text {
        font-size: 16px;
        line-height: 20px;
    }

    .most-dangerous__footnote {
        margin: 0 auto 15px;
        font-size: 20px;
        line-height: 22px;
    }

    .most-dangerous__bottom {
        padding: 30px 0 30px;
    }

    .most-dangerous__bottom-wrap {
        flex-direction: column;
    }

}

@media screen and (max-width: 479px){

    .most-dangerous__item {
        width: 100%;

        &:nth-child(n+2) {
            margin-top: 60px;
        }
    }

    .most-dangerous__wrap-pic {
        margin-bottom: 10px;
    }

    .most-dangerous__pic {

        &::after {
            display: none;
        }
    }

    .most-dangerous__bottom {
        padding: 25px 0 25px;
    }

    .most-dangerous__footnote {
        text-align: center;
        font-size: 16px;
        line-height: 18px;
    }

    .most-dangerous__btn {
        margin: 0 auto;
    }

}

@media (min-width: 1024px) and (max-width: 1190px) {
    .most-dangerous.block {
        padding-top: 100px;
    }
}