.components {
	padding-top: 77px;
	padding-bottom: 70px;
	.container {
		position: relative;
	}
	&__prod {
		position: absolute;
		max-width: 260px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 2;
		top: 126px;
		&::before {
			content: '';
			display: block;
			position: absolute;
			height: 382px;
			width: 382px;
			background-color: #bfbebe;
			border-radius: 50%;
			z-index: -1;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
		&::after {
			content: '';
			display: block;
			position: absolute;
			background-image: url(../img/components__brick.png);
			background-position: 50%;
			height: 320px;
			width: 320px;
			border-radius: 50%;
			opacity: 0.68;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			z-index: -1;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 80px;
		margin-left: auto;
		margin-right: 33px;
		max-width: 1110px;
		align-items: baseline;
	}
	&__item {
		width: 100%;
		max-width: 305px;
		text-align: center;
		position: relative;
		z-index: 0;
		&::before {
			content: '';
			display: block;
			position: absolute;
			height: 10px;
			width: 10px;
			background-color: #ef694b;
			border-radius: 50%;
			z-index: 2;
		}
		&::after {
			content: '';
			display: block;
			position: absolute;
			height: 2px;
			width: 70px;
			background-color: #bfbebe;
		}
		&--3 {
			max-width: 600px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 20px;
			.components__img img {
				position: relative;
				top: 9px;
			}
			&::before {
				top: 11px;
				left: 50%;
				transform: translateX(-50%);
			}
			&::after {
				top: -15px;
				left: 50%;
				transform: translateX(-50%) rotate(90deg);
			}
		}
		&--2 {
			.components__img img {
				position: relative;
				bottom: 9px;
				right: 9px;
			}
			&::before {
				top: 125px;
				left: 5px;
			}
			&::after {
				top: 130px;
				left: -65px;
			}
		}
		&--1 {
			&::before {
				top: 170px;
				right: 0;
			}
			&::after {
				right: -65px;
				top: 175px;
				z-index: -1;
			}
		}
	}
	&__img {
		max-width: 210px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;
		img {
			max-width: 100%;
			height: auto;
			display: block;
  			margin-left: auto;
  			margin-right: auto;
		}
	}
	&__name {
		font-size: 24px;
		font-weight: 500;
		color: #222;
		padding-bottom: 18px;
		margin-bottom: 12px;
		position: relative;
		&::after {
			content: '';
			display: block;
			position: absolute;
			background-color: #e7bc85;
			height: 4px;
			width: 29px;
			left: 50%;
			transform: translateX(-50%);
			bottom: 0;
		}
	}
	&__desc {
		font-size: 20px;
		line-height: 1.2;
		color: #666;
		font-weight: 400;
		b {
			color: #222;
			font-weight: 500;
		}
	}
}
@media screen and (max-width: 1190px){
  .components {
		padding: 35px 0 !important;
  	&__prod {
		max-width: 220px;
		// top: 155px;
		&::before {
			height: 330px;
			width: 330px;
		}
		&::after {
			height: 300px;
			width: 300px;
		}
  	}
  	&__list {
  		width: 100%;
  		margin-top: 48px;
  	}
  	&__item {
  		&--3 {
  			margin-top: 40px;
  			.components__img img {
  				position: static;
  			}
  		}
  	}
  	&__img {
  		margin-bottom: 0px;
  	}
  	&__name {
  		font-size: 22px;
  		padding-bottom: 12px;
  		margin-bottom: 7px;
  	}
  	&__desc {
  		font-size: 19px;
  		line-height: 1.1;
  	}
  }
}
@media screen and (max-width: 1023px){
	.components {
		&__prod {
			position: relative;
			transform: none;
			left: auto;
			top: auto;
			margin-left: auto;
			margin-right: auto;
			margin-top: 20px;
			max-width: 180px;
			&::before {
				width: 270px;
				height: 270px;
			}
			&::after {
				width: 250px;
				height: 250px;
			}
		}
		&__list {
			justify-content: space-around;
			margin-top: -60px;
		}
		&__item {
			&::after,
			&::before {
				display: none;
			}
			&--3 {
				margin-top: -40px;
			}
		}
		&__img {
			img {
				max-width: 130px;
				max-height: 110px;
			}
		}
		&__name {
			font-size: 20px;
			padding-bottom: 10px;
			margin-bottom: 6px;
		}
		&__desc {
			font-size: 18px;
		}
	}
}
@media screen and (max-width: 767px){
	.components {
		&__list {
			margin-top: 0;
			.components__item {
				margin-top: 20px;
			}
			.components__img img {
				position: static;
			}
		}
		&__item {
			max-width: none;
			text-align: left;
			padding-left: 110px;
			&--2 {
				.components__img img {
					position: relative;
					top: 8px;
					right: auto;
				}
			}
		}
		&__img {
			position: absolute;
			left: 50px;
			top: 50%;
			transform: translateY(-50%) translateX(-50%);
			img {
				max-width: 100px;
				max-height: 80px;
			}
		}
		&__name {
			&::after {
				left: 0;
				transform: none;
			}
		}
		&__desc {
			line-height: 1;
			font-size: 17px;
		}
	}
}
@media screen and (max-width: 479px){
	.components {
		&__item {
			padding-left: 0;
			text-align: center;
			&--2 {
				.components__img img {
					position: static;
				}
			}
		}
		&__img {
			position: static;
			transform: none;
		}
		&__name {
			font-size: 19px;
			&::after {
				left: 50%;
				transform: translateX(-50%);
				height: 3px;
			}
		}
		&__desc {
			font-size: 16px;
		}
	}
}


@media (min-width: 1024px) and (max-width: 1190px) {
	.components.block {
			padding-top: 50px;
	}
}