doctype html
html
  head
    meta(charset="utf-8")
    title Купить Dominator недорого. Цены, отзывы. Закажите Dominator сейчас!
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
    link(href="img/favicon.ico" rel="icon")
    link(rel='stylesheet' href='css/app.css')
  body
    include ../common/A_header.html
    include ../common/B_reasons.html
    include ../common/C_others.html
    include ../common/D_components.html
    include ../common/E_actor.html
    include ../common/F_reviews.html
    include ../common/G_order.html
    include ../common/H_header-bottom.html
    include ../common/I_footer.html
    include ../common/J_popup.html
    
    script(src='js/jquery-3.3.1.min.js')
    //- script(src='js/slick.min.js')
    script(src='js/owl.carousel.min.js')
    script(src='js/everad.js')
    script(src='js/app.js')
